:root {
  --default-transition-time: 0.3s;
  --color-white: #fff;
  --light-grey: #D0D6F9;
  --barlow-condensed-font-family:'Barlow Condensed', sans-serif;
  --color-separator: #383B4B;
  --border-bottom-link-width: 3px;
  --border-bottom-link-hover-color: rgba(255, 255, 255, 0.5);
  --color-bullets: #464950;
  --color-bullets-hover: #85868b; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0; }

html {
  font-size: 50%;
  /*1 rem = 8px;*/ }

body {
  font-family: 'Barlow', sans-serif;
  font-size: 1.87rem;
  text-align: center;
  line-height: 1;
  background-size: cover;
  background-repeat: no-repeat; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

.main-container {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  padding: 3rem;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: min-content auto;
  grid-template-areas: "logo        menuButton" "mainContent mainContent";
  align-content: start;
  row-gap: 3.5rem; }
  .main-container .header__logo {
    grid-area: logo;
    align-self: center; }
  .main-container .header__label {
    grid-area: menuButton;
    justify-self: end;
    align-self: center; }
  .main-container .main-content {
    display: grid;
    grid-area: mainContent;
    align-content: start; }

@media only screen and (min-width: 48em) {
  body {
    font-size: 2rem; }

  .main-container {
    padding: 0rem 0rem 0rem 3rem;
    grid-template-areas: "logo        nav" "mainContent mainContent";
    row-gap: 4.87rem; }
    .main-container .navigation-menu.navigation-menu--header {
      grid-area: nav; } }
@media only screen and (min-width: 90em) {
  html {
    font-size: 62.5%;
    /*1 rem = 10px*/ }

  body {
    font-size: 1.8rem; }

  .main-container {
    padding: 4rem 0 0 5.5rem;
    grid-template-columns: min-content auto;
    grid-template-areas: "logo        nav" ".           mainContent";
    row-gap: 8.2rem; }
    .main-container .header__logo {
      margin-right: 3rem; }
    .main-container .navigation-menu .header-separator {
      flex-grow: 1; }
    .main-container .main-content .main-content-primary {
      padding-left: 3rem; }
    .main-container .main-content .main-content-secondary {
      max-width: none; } }
.separator {
  height: 1px;
  background-color: var(--color-separator); }

h1, h2, h3, h4, h5, h6, .navigation-text, .subheading-1, .subheading-2 {
  text-transform: uppercase; }

.main-title {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2.7rem;
  margin-bottom: 4.1rem; }

.heading-5, .navigation-text, .subheading-2 {
  font-family: 'Barlow Condensed', sans-serif; }

.navigation-text {
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 2.7px; }

.navigation-text--index {
  font-weight: 700;
  font-variant-numeric: tabular-nums; }

.heading-1 {
  font-size: 10rem; }

.heading-2 {
  font-size: 7rem; }

.heading-3, .heading-1, .heading-2, .heading-4, .subheading-1 {
  font-family: 'Bellefair', sans-serif; }

.heading-3 {
  font-size: 3rem; }

.heading-4 {
  font-size: 2rem; }

.heading-5 {
  font-size: 2rem;
  letter-spacing: 2.7px; }

.heading-1, .heading-2, .heading-3, .heading-4, .heading-5, .navigation-text {
  color: var(--color-white);
  font-weight: 400; }

.heading-5--index {
  opacity: 0.25;
  font-weight: 700; }

.subheading-1 {
  font-size: 3.5rem;
  color: var(--color-white); }

.subheading-2 {
  font-size: 1.4rem;
  letter-spacing: 2.35px;
  color: var(--light-grey); }

.default-paragraph {
  color: var(--light-grey);
  line-height: 1.7; }

.header-title-section {
  margin-bottom: 4.1rem; }

.home-content .header-title-section {
  margin-bottom: 4.3rem; }

@media only screen and (min-width: 48em) {
  .main-title {
    justify-content: start;
    margin-bottom: 8rem; }

  .heading-1 {
    font-size: 18.75rem; }

  .heading-2 {
    font-size: 10rem; }

  .heading-5 {
    font-size: 2.5rem;
    letter-spacing: 3.38px; }

  .navigation-text {
    letter-spacing: 2.36px; } }
@media only screen and (min-width: 90em) {
  .heading-1 {
    font-size: 15rem; }

  .heading-5 {
    font-size: 2.8rem;
    letter-spacing: 4.72px; }

  .subheading-1 {
    font-size: 2.8rem; }

  .subheading-2 {
    font-size: 1.4rem; }

  .navigation-text {
    font-size: 1.6rem; } }
.navigation-menu ul {
  display: flex;
  flex-direction: column;
  row-gap: 3.75rem; }
  .navigation-menu ul li {
    display: flex;
    justify-content: start; }
    .navigation-menu ul li a {
      display: flex;
      column-gap: 2rem;
      padding-bottom: 1rem;
      border-bottom: var(--border-bottom-link-width) solid transparent; }
      .navigation-menu ul li a .navigation-text--index {
        font-weight: 700;
        font-variant-numeric: tabular-nums; }
    .navigation-menu ul li .active-link .navigation-text {
      color: var(--color-white); }
    .navigation-menu ul li a:hover {
      border-bottom: var(--border-bottom-link-width) solid var(--border-bottom-link-hover-color); }

.header__logo {
  width: 5rem;
  height: 5rem; }
  .header__logo img {
    width: 100%;
    height: 100%; }

#checkbox-right-menu {
  display: none; }

.header__label {
  z-index: 4; }

#checkbox-right-menu:checked ~ .header__label .open-right-menu-icon {
  display: none; }

#checkbox-right-menu:checked ~ .header__label .close-right-menu-icon {
  display: block; }

.open-right-menu-icon {
  width: 3rem;
  height: 2.62rem;
  cursor: pointer; }

.close-right-menu-icon {
  display: none;
  width: 2.38rem;
  height: 2.38rem;
  cursor: pointer; }

.navigation-menu.navigation-menu--header {
  position: absolute;
  right: 0;
  width: 32rem;
  min-height: 100%;
  top: 0;
  backdrop-filter: blur(15px);
  z-index: 3;
  transform: translateX(100%);
  transition: transform var(--default-transition-time);
  padding: 15rem 0 0 3rem; }
  .navigation-menu.navigation-menu--header .header-separator {
    display: none; }

#checkbox-right-menu:checked ~ .navigation-menu.navigation-menu--header {
  transform: translateX(0); }

@media only screen and (min-width: 48em) {
  .header__logo {
    width: 6rem;
    height: 6rem; }

  .header__label {
    display: none; }

  #checkbox-right-menu:checked ~ .navigation-menu.navigation-menu--header {
    transform: none; }

  .navigation-menu.navigation-menu--header {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: end;
    position: static;
    min-height: auto;
    backdrop-filter: none;
    z-index: auto;
    transform: none;
    transition: none;
    padding: 0rem;
    width: auto; }
    .navigation-menu.navigation-menu--header ul {
      width: 56.25rem;
      background-color: #151923;
      flex-direction: row;
      justify-content: space-evenly;
      row-gap: 0; }
      .navigation-menu.navigation-menu--header ul a {
        padding: 5.37rem 0; }
        .navigation-menu.navigation-menu--header ul a .navigation-text {
          font-size: 1.75rem; }
        .navigation-menu.navigation-menu--header ul a .navigation-text--index {
          display: none; } }
@media only screen and (min-width: 90em) {
  .header__logo {
    width: 4.8rem;
    height: 4.8rem; }

  .navigation-menu.navigation-menu--header .header-separator {
    display: block;
    width: 47.3rem;
    position: relative; }
    .navigation-menu.navigation-menu--header .header-separator .separator {
      width: 100%;
      position: absolute;
      left: 3rem;
      z-index: 2;
      margin: 0; }
  .navigation-menu.navigation-menu--header ul {
    padding: 0 17rem 0 12.2rem;
    width: 83rem;
    justify-content: space-between; }
    .navigation-menu.navigation-menu--header ul li a {
      column-gap: 1.3rem;
      padding: 4.3rem 0; }
      .navigation-menu.navigation-menu--header ul li a .navigation-text--index {
        display: initial; }
      .navigation-menu.navigation-menu--header ul li a .navigation-text {
        font-size: 1.6rem;
        letter-spacing: 2.7px;
        font-variant-numeric: normal; } }
.home-content {
  background-image: url("../assets/home/background-home-mobile.jpg"); }
  .home-content .main-container {
    row-gap: 13rem; }
  .home-content .main-content .main-title {
    margin-bottom: 4.3rem; }
    .home-content .main-content .main-title .heading-5 {
      color: var(--light-grey); }
  .home-content .main-content .main-content-primary {
    margin-bottom: 10.7rem; }
    .home-content .main-content .main-content-primary .heading-1 {
      margin-bottom: 6rem; }
  .home-content .main-content .explore-home-moon {
    width: 18.75rem;
    height: 18.75rem;
    margin: 0 auto;
    border-radius: 50%;
    background-color: #fff;
    text-transform: uppercase;
    color: #0B0D17;
    letter-spacing: 1.25px;
    font-size: 2.5rem;
    font-family: 'Bellefair', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center; }
  @media only screen and (min-width: 48em) {
    .home-content {
      background-image: url("../assets/home/background-home-tablet.jpg"); }
      .home-content .main-container .navigation-menu.navigation-menu--header a.home-link {
        border-bottom: var(--border-bottom-link-width) solid var(--color-white); }
      .home-content .main-container .main-content .main-title {
        justify-content: center; }
      .home-content .main-container .main-content .main-content-primary {
        display: grid;
        grid-template-columns: min-content;
        justify-content: center;
        margin-bottom: 20.5rem; }
      .home-content .main-container .main-content .explore-home-moon {
        width: 56.25rem;
        height: 56.25rem;
        font-size: 4rem;
        letter-spacing: 2px;
        border: 10.8rem solid transparent;
        background-clip: padding-box; }
      .home-content .main-container .main-content .explore-home-moon:hover {
        border-color: rgba(255, 255, 255, 0.1); } }
  @media only screen and (min-width: 90em) {
    .home-content {
      background-image: url("../assets/home/background-home-desktop.jpg");
      background-position: center center; }
      .home-content .main-container {
        row-gap: 24.8rem; }
        .home-content .main-container .navigation-menu.navigation-menu--header ul {
          background-color: transparent;
          backdrop-filter: blur(10px); }
        .home-content .main-container .main-content {
          row-gap: 0; }
          .home-content .main-container .main-content .explore-home-moon {
            width: 49.05rem;
            height: 49.05rem;
            font-size: 3.2rem; }
          .home-content .main-container .main-content .main-content-primary {
            text-align: left;
            justify-content: start;
            align-content: start; }
            .home-content .main-container .main-content .main-content-primary .main-title {
              justify-content: start; }
            .home-content .main-container .main-content .main-content-primary .heading-1 {
              margin-bottom: 3.5rem; } }
  @media only screen and (min-width: 112.5em) {
    .home-content .main-container .main-content {
      grid-template-columns: min-content 1fr; }
      .home-content .main-container .main-content .main-content-primary {
        grid-template-columns: auto;
        justify-items: center;
        text-align: center; }
        .home-content .main-container .main-content .main-content-primary .main-title {
          justify-content: center; }
        .home-content .main-container .main-content .main-content-primary .default-paragraph {
          min-width: 60rem; } }

.destination-content {
  background-image: url("../assets/destination/background-destination-mobile.jpg"); }
  .destination-content .main-content-secondary {
    padding-top: 4.5rem; }
    .destination-content .main-content-secondary .heading-2 {
      margin-bottom: 3rem; }
  .destination-content .destination-hero {
    width: 21.2rem;
    height: 21.2rem; }
  .destination-content .navigation-menu.navigation-menu--destination {
    margin-bottom: 3.75rem; }
    .destination-content .navigation-menu.navigation-menu--destination ul {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 3.5rem;
      row-gap: 0;
      flex-direction: row; }
      .destination-content .navigation-menu.navigation-menu--destination ul a:not(.active-link) .navigation-text {
        color: var(--light-grey); }
  .destination-content .destination-info {
    display: flex;
    gap: 5.37rem;
    flex-wrap: wrap;
    padding: 0 3rem;
    justify-content: center; }
    .destination-content .destination-info .subheading-2 {
      margin-bottom: 2rem; }
  .destination-content .separator {
    margin: 4rem 0; }
  @media only screen and (min-width: 48em) {
    .destination-content {
      background-image: url("../assets/destination/background-destination-tablet.jpg"); }
      .destination-content .navigation-menu.navigation-menu--header a.destination-link {
        border-bottom: var(--border-bottom-link-width) solid var(--color-white); }
      .destination-content .navigation-menu.navigation-menu--destination .navigation-text {
        letter-spacing: 2.7px; }
      .destination-content .destination-hero {
        width: 37.5rem;
        height: 37.5rem; }
      .destination-content .main-content-secondary {
        max-width: 75rem;
        margin: 0 auto; }
        .destination-content .main-content-secondary .destination-info {
          gap: 12.5rem; } }
  @media only screen and (min-width: 90em) {
    .destination-content {
      background-image: url("../assets/destination/background-destination-desktop.jpg"); }
      .destination-content .main-container {
        grid-template-rows: min-content min-content; }
        .destination-content .main-container .main-content {
          grid-template-columns: auto auto;
          grid-template-rows: auto auto;
          grid-template-areas: "titleDest ." "heroDest  destinationText";
          column-gap: 15.7rem;
          align-items: start; }
          .destination-content .main-container .main-content .main-title {
            grid-area: titleDest; }
          .destination-content .main-container .main-content .main-content-primary {
            grid-area: heroDest;
            align-self: end; }
            .destination-content .main-container .main-content .main-content-primary .destination-hero {
              margin-left: 6rem;
              width: 44.5rem;
              height: 44.5rem; }
          .destination-content .main-container .main-content .main-content-secondary {
            grid-area: destinationText;
            padding: 0rem 16rem 0 0;
            text-align: left;
            align-self: end; }
            .destination-content .main-container .main-content .main-content-secondary .navigation-menu.navigation-menu--destination ul {
              justify-content: start; }
            .destination-content .main-container .main-content .main-content-secondary .destination-info {
              gap: 7.7rem;
              padding: 0;
              justify-content: start; } }
  @media only screen and (min-width: 112.5em) {
    .destination-content .main-container .main-content .main-content-secondary {
      text-align: center; }
      .destination-content .main-container .main-content .main-content-secondary .navigation-menu.navigation-menu--destination ul {
        justify-content: center; }
      .destination-content .main-container .main-content .main-content-secondary .destination-info {
        justify-content: center; } }

.crew-content {
  background-image: url("../assets/crew/background-crew-desktop.jpg"); }
  .crew-content .main-container .crew-hero {
    width: 22.14rem;
    height: 27,75rem; }
  .crew-content .main-container .main-content .main-content-primary {
    border-bottom: 1px solid var(--color-separator); }
  .crew-content .main-container .main-content .main-content-secondary {
    display: grid;
    justify-items: center;
    grid-template-rows: min-content min-content;
    row-gap: 3.87rem; }
    .crew-content .main-container .main-content .main-content-secondary .navigation-menu.navigation-menu--crew ul {
      row-gap: 0;
      column-gap: 2rem;
      flex-direction: row; }
      .crew-content .main-container .main-content .main-content-secondary .navigation-menu.navigation-menu--crew ul li a {
        padding: 0;
        border: none;
        width: 1.25rem;
        height: 1.25rem;
        background-color: var(--color-bullets);
        border-radius: 50%; }
      .crew-content .main-container .main-content .main-content-secondary .navigation-menu.navigation-menu--crew ul li a:hover {
        background-color: var(--color-bullets-hover); }
    .crew-content .main-container .main-content .main-content-secondary .crew-member-section .heading-4--crew-member-title {
      opacity: 0.5;
      margin-bottom: 1.25rem; }
    .crew-content .main-container .main-content .main-content-secondary .crew-member-section .heading-3 {
      margin-bottom: 2.5rem; }
  .crew-content .main-container .commander-content .commander-link {
    background-color: var(--color-white) !important; }

/*# sourceMappingURL=styles.css.map */
