.destination-content {
    background-image: url("../assets/destination/background-destination-mobile.jpg");

    .main-content-secondary {
        padding-top: 4.5rem;

        .heading-2 {
            margin-bottom: 3rem;
        }
    }

    .destination-hero {
        width: 21.2rem;
        height: 21.2rem;
    }


    .navigation-menu.navigation-menu--destination {
        margin-bottom: 3.75rem;

        ul {
            @include flex-centered-items;
            column-gap: 3.5rem;
            row-gap: 0;
            flex-direction: row;

            a:not(.active-link) {
                .navigation-text {
                    color: var(--light-grey);
                }
            }
        }
    }

    .destination-info {
        display: flex;
        flex-direction: column;
        gap: 5.37rem;

        .heading-4 {
            margin-bottom: 2rem;
        }

        .destination-info--value {
            font-family: 'Bellefair', sans-serif;
            font-size: 3.5rem;
            color: var(--color-white);
            text-transform: uppercase;
        }
    }

    .separator {
        margin: 4rem 0;
    }

    @media only screen and (min-width: $minWidthTabletPortrait) {

        .navigation-menu.navigation-menu--destination {
            .navigation-text {
                letter-spacing: 2.7px;
            }
        }

    }
}
