.destination-content {
    background-image: url("../assets/destination/background-destination-mobile.jpg");

    .main-content-secondary {
        padding-top: 4.5rem;

        .heading-2 {
            margin-bottom: 3rem;
        }
    }

    .destination-hero {
        width: 21.2rem;
        height: 21.2rem;
    }


    .navigation-menu.navigation-menu--destination {
        margin-bottom: 3.75rem;

        ul {
            @include flex-centered-items;
            column-gap: 3.5rem;
            row-gap: 0;
            flex-direction: row;

            a:not(.active-link) {
                .navigation-text {
                    color: var(--light-grey);
                }
            }
        }
    }

    .destination-info {
        display: flex;
        gap: 5.37rem;
        flex-wrap: wrap;
        padding: 0 3rem;
        justify-content: center;

        .subheading-2 {
            margin-bottom: 2rem;
        }
    }

    .separator {
        margin: 4rem 0;
    }

    @media only screen and (min-width: $minWidthTabletPortrait) {
        background-image: url("../assets/destination/background-destination-tablet.jpg");

        .navigation-menu.navigation-menu--header {
            a.destination-link {
                border-bottom: var(--border-bottom-link-width) solid var(--color-white);
            }
        }

        .navigation-menu.navigation-menu--destination {
            .navigation-text {
                letter-spacing: 2.7px;
            }
        }

        .destination-hero {
            width: 37.5rem;
            height: 37.5rem;
        }

        .main-content-secondary {
            max-width: 75rem;
            margin: 0 auto;

            .destination-info {
                gap: 12.5rem;
            }
        }
    }

    @media only screen and (min-width: $minWidthDesktop) {
        background-image: url("../assets/destination/background-destination-desktop.jpg");
        .main-container {

            grid-template-rows: min-content min-content;
            .main-content {
                grid-template-areas: "titleDest ."
                                     "heroDest  destinationText";

                column-gap: 15.7rem;
                align-items: start;

                .main-title {
                    grid-area: titleDest;
                }

                .main-content-primary {
                    grid-area: heroDest;
                    align-self: end;
                    .destination-hero {
                        margin-left: 6rem;
                        width: 44.5rem;
                        height: 44.5rem;
                    }
                }

                .main-content-secondary {
                    grid-area: destinationText;
                    padding: 0rem 16rem 0 0;
                    text-align: left;
                    align-self: end;
                    .navigation-menu.navigation-menu--destination {
                        ul {
                            justify-content: start;
                        }
                    }

                    .destination-info {
                        gap: 7.7rem;
                        padding: 0;
                        justify-content: start;
                    }
                }
            }
        }
    }

    @media only screen and (min-width: $minWidthBigDesktop) {
        .main-container {
            .main-content {
                .main-content-secondary {
                    text-align: center;
                    .navigation-menu.navigation-menu--destination {
                        ul {
                            justify-content: center;
                        }
                    }

                    .destination-info {
                        justify-content: center;
                    }
                }
            }
        }
    }
}
