.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header__logo {
        width: 5rem;
        height: 5rem;

        img {
            width: 100%;
            height: 100%;
        }
    }

    #checkbox-right-menu {
        display: none;
    }

    .header__label {
        z-index: 4;
    }

    #checkbox-right-menu:checked ~ .header__label .open-right-menu-icon {
        display: none;
    }

    #checkbox-right-menu:checked ~ .header__label .close-right-menu-icon {
        display: block;
    }

    .open-right-menu-icon {
        width: 3rem;
        height: 2.62rem;
        cursor: pointer;
    }

    .close-right-menu-icon {
        display: none;
        width: 2.38rem;
        height: 2.38rem;
        cursor: pointer;
    }



    .navigation-menu {
        position: absolute;
        right: 0;
        width: 32rem;
        min-height: 100%;
        top: 0;
        backdrop-filter: blur(15px);
        z-index: 3;
        transform: translateX(100%);
        transition: transform var(--default-transition-time);
        padding: 15rem 0 0 3rem;

        .separator {
            display: none;
        }
    }

    #checkbox-right-menu:checked ~ .navigation-menu {
        transform: translateX(0);
    }


    @media only screen and (min-width: $minWidthTabletPortrait) {

        .header__logo {
            width: 6rem;
            height: 6rem;
        }

        .header__label
        {
            display: none;
        }

        #checkbox-right-menu:checked ~ .navigation-menu {
            transform: none;
        }

        .navigation-menu {
            @include flex-centered-items;
            position: static;
            min-height: auto;
            backdrop-filter: none;
            z-index: auto;
            transform: none;
            transition: none;
            padding: 0rem;
            width: auto;

            ul {
                width: 56.25rem;
                background-color: #151923;
                flex-direction: row;
                justify-content: space-evenly;
                row-gap: 0;

                a {
                    padding: 5.37rem 0;

                    .navigation-text {
                        font-size: 1.75rem;
                    }

                    .navigation-text--index {
                        display: none;
                    }
                }
            }
        }
    }

    @media only screen and (min-width: $minWidthDesktop) {

        .header__logo {
            width: 4.8rem;
            height: 4.8rem;
            margin-right: 3rem;
        }

        .navigation-menu {

            .separator {
                display: block;
                width: 47.3rem;
            }

            ul {
                padding: 0 17rem 0 12.2rem;
                width: 83rem;
                column-gap: 5rem;
                justify-content: center;
                li {
                    a {
                        column-gap: 1.3rem;
                        padding: 4.3rem 0;

                        .navigation-text--index {
                            display: initial;
                        }

                        .navigation-text {
                            font-size: 1.6rem;
                            letter-spacing: 2.7px;
                            font-variant-numeric: normal;
                        }
                    }
                }
            }
        }


    }
}
