.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header__logo {
        width: 5rem;
        height: 5rem;

        img {
            width: 100%;
            height: 100%;
        }
    }

    #checkbox-right-menu {
        display: none;
    }

    .header__label {
        z-index: 4;
    }

    #checkbox-right-menu:checked ~ .header__label .open-right-menu-icon {
        display: none;
    }

    #checkbox-right-menu:checked ~ .header__label .close-right-menu-icon {
        display: block;
    }

    .open-right-menu-icon {
        width: 3rem;
        height: 2.62rem;
        cursor: pointer;
    }

    .close-right-menu-icon {
        display: none;
        width: 2.38rem;
        height: 2.38rem;
        cursor: pointer;
    }

    .separator {
        display: none;
    }

    .header__navmenu {
        position: absolute;
        right: 0;
        width: 32rem;
        min-height: 100%;
        top: 0;
        backdrop-filter: blur(15px);
        z-index: 3;
        transform: translateX(100%);
        transition: transform var(--default-transition-time);
        padding: 15rem 0 0 3rem;

        .navmenu_links {
            display: flex;
            flex-direction: column;
            gap: 4.2rem;

            .navmenu_link {
                display: flex;
                .navmenu__index__link {
                    font-weight: 700;
                    margin-right: var(--header-index-margin-right);
                }
            }
        }
    }

    #checkbox-right-menu:checked ~ .header__navmenu {
        transform: translateX(0);
    }


    @media only screen and (min-width: $minWidthTabletPortrait) {

        .header__logo {
            width: 6rem;
            height: 6rem;
        }

        .header__label
        {
            display: none;
        }

        #checkbox-right-menu:checked ~ .header__navmenu {
            transform: none;
        }

        .header__navmenu {
            display: flex;
            justify-content: center;
            position: static;
            width: auto;
            min-height: auto;
            backdrop-filter: none;
            z-index: auto;
            transform: none;
            transition: none;
            background-color: #151923;
            padding: 0rem;
            width: 56.25rem;
            height: 12rem;

            .navmenu_links {
                align-items: stretch;
                flex-direction: row;
                column-gap: 4.62rem;

                li {
                    position: relative;
                    display: flex;
                    align-items: center;
                }

                .navmenu_link {

                    .header-3 {
                        font-size: 1.75rem;
                        letter-spacing: 2.36px;
                    }

                    .navmenu__index__link {
                        display: none;
                    }
                }

                .navmenu_link::after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    bottom: 0;
                    left: 0;
                    height: 3px;
                    background-color: white;
                    display: none;
                }

                .navmenu_link:hover::after{
                    display: block;
                }
            }
        }
    }

    @media only screen and (min-width: $minWidthDesktop) {

        .header__logo {
            width: 4.8rem;
            height: 4.8rem;
            margin-right: 3rem;
        }

        .header__navmenu {
            padding: 0 17rem 0 12.2rem;
            width: 83rem;
            height: 9.6rem;
            .navmenu_links {

                column-gap: 5rem;
                li {
                }

                .navmenu_link {

                    .header-3 {
                    }

                    .navmenu__index__link {
                        display: block;
                        font-size: 1.6rem;
                        letter-spacing: 2.7px;
                    }
                }
            }
        }

        .separator {
            display: block;
            flex-grow: 1;
            transform: translateX(3rem);
        }
    }
}
