.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header__logo {
        width: 5rem;
        height: 5rem;
    }

    #checkbox-right-menu {
        display: none;
    }

    .header__label {
        z-index: 4;
    }

    #checkbox-right-menu:checked ~ .header__label .open-right-menu-icon {
        display: none;
    }

    #checkbox-right-menu:checked ~ .header__label .close-right-menu-icon {
        display: block;
    }

    .open-right-menu-icon {
        width: 3rem;
        height: 2.62rem;
        cursor: pointer;
    }

    .close-right-menu-icon {
        display: none;
        width: 2.38rem;
        height: 2.38rem;
        cursor: pointer;
    }

    .header__navmenu {
        position: absolute;
        right: 0;
        width: 32rem;
        min-height: 100%;
        top: 0;
        backdrop-filter: blur(15px);
        z-index: 3;
        transform: translateX(100%);
        transition: transform var(--default-transition-time);
        padding: 15rem 0 0 3rem;

        .navmenu_links {
            display: flex;
            flex-direction: column;
            gap: 4.2rem;

            .navmenu_link {
                display: flex;
                .navmenu__index__link {
                    font-weight: 700;
                    margin-right: var(--header-index-margin-right);
                }
            }
        }
    }

    #checkbox-right-menu:checked ~ .header__navmenu {
        transform: translateX(0);
    }


    @media only screen and (min-width: $minWidthTabletPortrait) {

        .header__logo {
            width: 6rem;
            height: 6rem;
        }
        
        .header__label
        {
            display: none;
        }

        .header__navmenu {
            position: static;
            width: auto;
            min-height: auto;
            backdrop-filter: none;
            z-index: auto;
            transform: none;
            transition: none;
            background-color: #151923;
            padding: 0rem 6rem;
            .navmenu_links {
                flex-direction: row;
                column-gap: 4.62rem;

                .navmenu_link {
                    padding: 5.25rem 0;
                    border-bottom: var(--border-bottom-link-width) solid transparent;

                    .header-3 {
                        font-size: 1.75rem;
                        letter-spacing: 2.36px;
                    }

                    .navmenu__index__link {
                        display: none;
                    }
                }

                .navmenu_link:hover {
                    border-bottom: var(--border-bottom-link-width) solid var(--color-white);
                }
            }
        }
    }
}
