.header-1 {
    font-size: 10rem;
}

.header-3 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 2.7px;
}

.header-1, .header-3 {
    color: var(--color-white);
    text-transform: uppercase;
}