:root {
    --default-transition-time: 0.3s;
    --color-white: #fff;
    --light-grey: #D0D6F9;
    --barlow-condensed-font-family:'Barlow Condensed', sans-serif;
    --color-separator: #383B4B;
    --border-bottom-link-width: 3px;

}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html {
    font-size: 50%;  /*1 rem = 8px;*/
}

body {
    font-family: 'Barlow', sans-serif;
    font-size: 1.87rem;
    text-align: center;
    line-height: 1;
    background-size: cover;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.main-container {
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    padding: 3rem;
}

.main-content {
    display: grid;
}

@media only screen and (min-width: $minWidthTabletPortrait) {

    body {
        font-size: 2rem;
    }

    .main-container {
        padding: 0rem 0rem 0rem 3rem;
    }

}

@media only screen and (min-width: $minWidthDesktop) {

    html {
        font-size: 62.5%; /*1 rem = 10px*/
    }
    
    body {
        font-size: 1.8rem;
    }
    
    .main-container {
        padding: 4rem 0 0 5.5rem;
    }
    
    .main-content {
        max-width: 144rem;
    }
}