@mixin flex-centered-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.separator {
    height: 1px;
    background-color: var(--color-separator);
}

.target-tab {
    transition: opacity .3s;
}

.hiding-target-tab {
    opacity: 0;
}

.hidden-target-tab {
    display: none !important;
}

