.navigation-menu {
    ul {
        display: flex;
        flex-direction: column;
        row-gap: 3.75rem;

        li {
            display: flex;
            justify-content: start;

            a {
                display: flex;
                column-gap: 2rem;
                padding-bottom: 1rem;
                border-bottom: 3px solid transparent;

                span {
                    font-weight: 700;
                    font-variant-numeric: tabular-nums;
                }
            }

            a:hover {
                border-bottom: 3px solid var(--color-white);
            }
        }
    }
}
