.navigation-menu {
    ul {
        display: flex;
        flex-direction: column;
        row-gap: 3.75rem;

        li {
            display: flex;
            justify-content: start;

            a {
                display: flex;
                column-gap: 2rem;
                padding-bottom: 1rem;
                border-bottom: var(--border-bottom-link-width) solid transparent;

                .navigation-text--index {
                    font-weight: 700;
                    font-variant-numeric: tabular-nums;
                }
            }

            .active-link .navigation-text {
                color: var(--color-white);
            }

            a:hover {
                border-bottom: var(--border-bottom-link-width) solid var(--border-bottom-link-hover-color);
            }
        }
    }
}
